html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

html,body{position:relative;height:100%;}
body{background:url(bg.gif) repeat;font-family:Baskerville,'Times New Roman',serif;font-size:12pt;line-height:1.2;}
h1,h2,h3,p,ul,ol,pre{margin-bottom:18px;}
h1,h2,h3{font-weight:normal}
h1{font-size:42pt;}
h2{font-size:22pt;}
h3{font-size:18pt;}
code{font-family:Menlo,monospace;font-size:8pt;}

#wrapper{position:relative;width:1000px;margin:0 auto;height:100%;}
#content{position:relative;height:100%;margin-left:200px;background:url(content-bg.gif) repeat-y;}

#nav{position:fixed;width:200px;text-align:center;color:white;font-size:32pt;text-shadow:#cc6600 2px 2px 0;top:64px;}
#nav li.separator{font-size:22pt;letter-spacing:2pt;}
#nav li.separator .splat{font-size:18pt;}
#nav a{color:white;text-decoration:none;}
#nav a:hover{border-bottom:1px dotted white;}

#body{margin:0 200px;padding:64px 18px;}

.copyright{padding-top:36px;text-align:right;font-size:8pt;}
