html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

body{
  background:url(bg.gif) repeat;
  font-family:Helvetica,Arial,sans-serif;
  font-size:11pt;
  line-height:1.5;
  padding:18px 0;
}
h1,h2,h3,p,ul,ol,pre{margin-bottom:18px;}
h1,h2,h3{font-weight:normal}
h1{font-size:22pt;}
h2{font-size:18pt;}
h3{font-size:12pt;}
pre,code{font-family:Menlo,monospace;font-size:8pt;}
a:link,a:visited{color:#cc6600;}
th{text-align:left;}
td{padding:2px;}

#wrapper{position:relative;width:700px;margin:0 auto;}

#nav{
  position:fixed;
  width:200px;
  text-align:center;
  color:white;
  text-shadow:#cc6600 2px 2px 0;
  top:56px;
}
#nav,h1,h2,h3{font-family:Baskerville,'Times New Roman',serif;}
#nav li{font-size:22pt;line-height:1.2;}
#nav li.title{font-size:42pt;}
#nav li.separator{font-size:22pt;letter-spacing:2pt;padding:12px 0;}
#nav li.separator .splat{font-size:18pt;}
#nav a{color:white;text-decoration:none;}
#nav a:hover{border-bottom:1px dotted white;}

#body{
  margin-left:200px;
  padding:48px 18px;
  background:white;
  -webkit-box-shadow:0px 0px 10px #cc6600;
  -moz-box-shadow:0px 0px 10px #cc6600;
}
#body ul{list-style-type:disc;margin-left:36px;}
#body table{width:464px;}

.copyright{padding-top:36px;text-align:right;font-size:8pt;}
