<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Citrus ~ Parsing Expressions for Ruby</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1>Citrus</h1>
            <ul>
                <li><a href="api/index.html">API</a></li>
                <li><a href="http://github.com/mjijackson/citrus/issues">Issues</a></li>
                <li><a href="http://github.com/mjijackson/citrus">Code</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
        <div id="content"><%=content%></div>
        <div id="footer">
            <p><a href="license.html" rel="license">Copyright</a> &copy; <%=Time.now.year%> <a href="http://mjijackson.com/about" rel="me author">Michael Jackson</a></p>
        </div>
    </div>
</body>

</html>
