<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Citrus</string>
	<key>uuid</key>
	<string>902E5271-3BFE-49AC-AFE2-B2926AD9A881</string>
</dict>
</plist>
